.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.darkMode{
    background-color: var(--dark-dark);
}

.loginForm {
    background-color: var(--off-white);
    border: 1.5px solid var(--teal);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.darkMode .loginForm {
    background-color: var(--light-dark);
}

.formTitle {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: var(--teal);
    font-weight: 600;
    font-family: "Merriweather", serif !important;
}

.inputField {
    width: 100%;
    padding: 0.8rem;
    margin: 0.8rem 0;
    border: 1px solid #ddd;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
    font-family: Lora;
}

.darkMode .inputField {
    border: 1px solid #6a6a6a;
    background-color: var(--dark-dark);
    color: #ddd;
}

.inputField:focus {
    border-color: var(--teal);
}

.submitButton {
    font-family: Lora;
    width: 100%;
    padding: 0.8rem;
    background-color: var(--teal);
    color: white;
    border: 1.5px solid var(--teal);
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.darkMode .submitButton{
    color: black;
}

.darkMode .submitButton:hover{
    background-color: var(--dark-dark);
    color: var(--teal);
    font-weight: bold;
}

.submitButton:hover {
    background-color: white;
    color: var(--teal);
    font-weight: bold;
}

.errorMessage {
    color: #e74c3c;
    font-size: 0.9rem;
    margin-top: 1rem;
}

.smallText {
    font-size: 0.9rem;
    color: #aaa;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .loginForm {
        padding: 1.5rem;
        max-width: 400px;
    }

    .formTitle {
        font-size: 1.6rem;
    }

    .inputField {
        font-size: 0.95rem;
    }

    .submitButton {
        font-size: 1.2rem;
        padding: 0.9rem;
    }

    .errorMessage {
        font-size: 0.85rem;
    }

    .smallText {
        font-size: 0.85rem;
    }
}

@media (max-width: 480px) {
    .loginForm {
        padding: 1rem;
        max-width: 90%;
    }

    .formTitle {
        font-size: 1.4rem;
    }

    .inputField {
        font-size: 0.9rem;
        padding: 0.7rem;
    }

    .submitButton {
        font-size: 1rem;
        padding: 0.8rem;
    }

    .errorMessage {
        font-size: 0.8rem;
    }

    .smallText {
        font-size: 0.8rem;
    }
}