.app {
  background-color: white;
}

.darkMode {
  background-color: var(--dark-dark);
}

.navbar {
  width: 100vw;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--off-white);
  border-bottom: 1.5px solid var(--teal-light);
  color: var(--dark-gray);
  padding: 10px 24px;
  position: fixed;
  top: 0;
  z-index: 9;
}

.logo {
  color: var(--teal);
  font-size: 26px;
  font-family: "Merriweather", serif !important;
  font-weight: 600;
}

.navRight {
  display: flex;
  align-items: center;
  gap: 15px;
}

.darkMode .navbar {
  background-color: var(--light-dark);
  border-bottom: 1.5px solid var(--li-light-color);
}

.darkMode .searchContainer {
  background: var(--dark-dark);
}

.darkMode .searchBar {
  background: var(--dark-dark);
}

.searchContainer {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 5px 12px;
  border-radius: 10px;
  border: 1.5px solid var(--teal-light);
}

.searchBar {
  border: none;
  outline: none;
  padding: 8px;
  width: 200px;
}

.searchIcon {
  margin-right: 8px;
}

.darkMode .searchIcon {
  color: white;
}

.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  color: inherit;
  display: flex;
  font-size: 20px;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.toggleButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.darkMode .toggleButton:hover {
  background-color: rgba(223, 221, 221, 0.2);
}

.mainContent {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: left;
  padding: 50px 20px;
}

.heroText {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroText h2 {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Lora", serif;
  margin-bottom: 0px;
}

.heroText p {
  font-size: 1.2rem;
  color: #666;
  margin-left: 5px;
}

.heroText .slogan {
  font-family: "Open Sans", serif;
  font-style: italic;
  font-size: 1.5rem;
  color: var(--teal);
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 5px;
}

.heroImage img {
  width: 100%;
  max-width: 540px;
}

.exploreBtn {
  font-size: 1.5rem;
  margin-left: 5px;
  width: fit-content;
  background-color: transparent;
  color: var(--teal);
  padding: 10px 20px;
  border: 2px solid var(--teal);
  cursor: pointer;
  margin-top: 20px;
  font-weight: 550;
  transition: background-color 0.3s ease;
}

.exploreBtn:hover {
  background-color: var(--teal);
  color: white;
}

.keyFeatures {
  padding: 25px 0px;
  text-align: center;
}

.sectionTitle {
  font-family: "Lora", serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 20px;

}

.featuresContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 0 20px;
}

.feature {
  cursor: pointer;
  flex-basis: 22%;
  background: var(--off-white);
  border-radius: 12px;
  border: 2px solid var(--teal);
  padding: 25px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.darkMode .feature {
  background-color: var(--light-dark);
}

.feature:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

.darkMode .feature:hover {
  box-shadow: 0px 10px 30px rgba(224, 223, 223, 0.15);
}

.feature .icon {
  padding: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 15px;
}

.feature h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--teal);
}

.feature p {
  position: relative;
  font-size: 1rem;
  color: #555;
}

.darkMode .feature p {
  color: #cecccc;
}


.trendingDocs {
  padding: 60px 20px;
  text-align: center;
}

.sectionTitle {
  font-family: "Lora", serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin-top: 30px;
  justify-items: center;
  padding: 0 20px;
}

.card {
  background: var(--off-white);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border: 2px solid var(--teal);
  overflow: hidden;
}

.darkMode .card {
  background-color: var(--light-dark);
}

.darkMode .card:hover {
  box-shadow: 0px 12px 24px rgba(228, 227, 227, 0.1);
}

.card:hover {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
}

.cardImage {
  height: 180px;
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 8px;
}

.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover .cardImage img {
  transform: scale(1.1);
}

.card .subjectName {
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.darkMode .card .subjectName {
  color: #ffffff;
}

.card .learnMoreButton {
  background-color: var(--teal);
  color: white;
  padding: 10px 25px;
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid var(--teal);
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.darkMode .card .learnMoreButton{
  color: black;
}

.card .learnMoreButton:hover {
  background-color: var(--off-white);
  color: black;
  border: 2px solid var(--teal);
}



.testimonials {
  position: relative;
  padding: 60px 20px;
  text-align: center;
}

.testimonialsContainer {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.testimonialCard {
  background-color: var(--off-white);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.darkMode .testimonialCard {
  background-color: var(--light-dark);

  p, .testimonialRole {
    color: #efecec;
  }
}


.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 2.5px solid var(--teal);
  object-fit: cover;
}

.testimonialText {
  font-size: 1rem;
  color: #444;
  margin-bottom: 10px;
  font-style: italic;
}

.testimonialName {
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 10px;
  color: var(--teal);
}

.testimonialRole {
  font-size: 0.9rem;
  color: #666;
}

.swiper-pagination-bullet {
  background-color: var(--teal);
}

.navButton {
  position: absolute;
  top: 62%;
  transform: translateY(-62%);
  font-size: 24px;
  background-color: rgb(171, 231, 231);
  color: #121212;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
  padding: 12px 18px;
  border: 2px solid teal;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

.navButton:hover {
  background-color: teal;
  color: white;
}


.btnContainer {
  display: flex;
  justify-content: center;
}

.faqBtn {
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  transition: color 0.3s ease;

}

.darkMode .faqBtn{
  color: white;
}

.faqBtn:hover {
  color: #666;

}


.faq {
  padding: 60px 20px;
}

.faqItem {
  padding: 15px;
  background-color: var(--off-white);
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid var(--teal);
}

.darkMode .faqItem{
  background-color: var(--light-dark);
}
.darkMode .faqItem.active{
  background-color: var(--dark-dark);
}

.faqItem:hover {
  background-color: var(--hover-bg);
}

.faqItem strong {
  font-size: 16px;
  font-weight: bold;
  display: block;
  color: var(--teal);
}

.questionContainer {
  display: flex;
  justify-content: space-between;
}

.answer {
  display: none;
  margin-top: 10px;
  color: #555;
}

.faqItem.active .answer {
  display: block;
}

.faqItem.active {
  background-color: white;
  border-left: 5px solid var(--teal);
}

.icon {
  color: var(--teal);
}


.suggestions {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.suggestions p {
  font-size: 1.2rem;
  color: #242323;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: "Open Sans", serif;
}

.darkMode .suggestions p{
  color: rgb(240, 237, 237);
}

.form {
  padding: 20px;
  width: 370px;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
  outline: none;
}

.form textarea {
  height: 120px;
  resize: vertical;
}

.form input:focus,
.form textarea:focus {
  border-color: var(--teal);
}

.submitButton {
  width: 100%;
  background-color: var(--teal);
  color: white;
  padding: 10px 20px;
  border: 2px solid var(--teal);
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease, font-weight 0.3s ease;
}

.submitButton:hover {
  background-color: transparent;
  color: var(--teal);
  font-weight: 500;
}

.darkMode .form input,
.darkMode .form textarea{
  background-color: var(--light-dark);
  color: white;
}




.subsription {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.subsription p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-family: "Open Sans", serif;
}

.subscribeBtn {
  width: 100%;
  padding: 10px 20px;
  background-color: var(--teal);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid var(--teal);
  font-size: 16px;
}

.subscribeBtn:hover {
  background-color: transparent;
  color: var(--teal);
  font-weight: 500;

}

.footer {
  text-align: center;
  padding: 20px;
  background-color: var(--off-white);
  border-top: 1.5px solid var(--teal-light);
  margin-top: 40px;
}

.footerLinks a {
  color: var(--teal);
  text-decoration: none;
  margin: 0 10px;
}

.darkMode .footer{
  background-color: var(--light-dark);
}





@media (max-width: 768px) {
  .hero {
    padding-top: 0;
    margin-top: 10vh;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .heroText {
    align-items: center;
  }

  .heroText h2 {
    font-size: 3rem;
  }

  .heroText p {
    font-size: 1rem;
  }

  .heroImage img {
    max-width: 60%;
    height: auto;
  }

  .sectionTitle {
    font-size: 2.5rem;
  }

  .featuresContainer {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    width: 98%;
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .testimonials {
    padding: 40px 20px;
  }

  .testimonialCard {
    min-height: auto;
  }

  .testimonialName {
    font-size: 1rem;
  }

  .testimonialRole {
    font-size: 0.8rem;
  }

  .cardsContainer {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  .card .subjectName {
    font-size: 1.1rem;
  }

  .footerLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footerLinks a {
    margin: 5px 0;
  }

  .suggestionForm {
    width: 80%;
  }

  .newsletter p {
    font-size: 1rem;
  }

  .emailInput {
    width: 70%;
    margin-right: 5px;
  }

  .subscribeBtn {
    padding: 8px 16px;
  }
}


@media (max-width: 480px) {
  .logo {
    font-size: 18px;
  }

  .navRight {
    gap: 5px;
  }

  .toggleButton {
    margin-right: 0;
  }

  .searchContainer {
    width: 100%;
    max-width: 150px;
    margin-top: 3.5px;
    border-radius: 5px;
    max-height: 35px;
  }

  .searchBar {
    max-height: 30px;
    width: 100%;
    font-size: 10px;
  }

  .hero {
    padding: 20px;
    min-height: 80vh;
  }

  .heroImage img {
    max-width: 100%;
    height: auto;
  }

  .heroText h2 {
    font-size: 2rem;
  }

  .heroText p {
    font-size: 0.9rem;
  }

  .keyFeatures {
    margin-top: 40px;
  }

  .sectionTitle {
    font-size: 2rem;
  }

  .featuresContainer {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    flex-basis: 100%;
    margin-bottom: 15px;
  }

  .testimonials {
    padding: 40px 10px;
  }

  .navButton{
    display: none;
  }

  .testimonialCard {
    min-height: auto;
    padding: 15px;
  }

  .testimonialName {
    font-size: 0.95rem;
  }

  .testimonialRole {
    font-size: 0.75rem;
  }

  .cardsContainer {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .card .subjectName {
    font-size: 1rem;
  }

  .suggestions p {
    margin-left: 20px;
  }

  .footerLinks a {
    margin: 5px 0;
  }

  .suggestionForm {
    width: 90%;
  }

  .newsletter p {
    font-size: 1rem;
  }

  .emailInput {
    width: 60%;
    margin-right: 5px;
  }

  .subscribeBtn {
    padding: 8px 14px;
  }
}