.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: content-box;
    position: relative;
}

.layout {
    width: 100%;
    margin-top: 65px;
    overflow-y: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.contentContainer {
    position: relative;
    margin-left: 264px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.appContainer.darkMode {
    background-color: #17181C;
}

@media (max-width: 768px) {
    .contentContainer{
        margin-left: 0;
        flex-direction: column-reverse;
    }

}
